{
  "presets": [
    "env",
    "stage-0",
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "~theme"
      }
    ],
    "transform-remove-strict-mode",
    "babel-plugin-syntax-dynamic-import"
  ]
}